* {
    padding: 0;
    margin: 0;
}

body {
    display: block;
    height: 100vh;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: #F86572;
    padding: 5px;
}

.start-btn {
    width: 50px;
}

.squares-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.game-square {
    height: 5vh;
    width: 5vw;
    background: blue;
    margin: 5px;
}